// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// CORP: Extra variables 

// colors
$corp-transparent-background: rgba($gray-800, 10%);
$corp-gray-light-bg: $gray-200;

// grid
$corp-desktop-gutter-width-beakpoint: 1200px; // larger paddings large screens = xl 
$corp-grid-gutter-width-desktop: 7.5rem;


// navbar
$corp-expanded-navbar-breakpoint: 992px; // = navbar-expand-lg
$corp-nav-main-sticky-transition: all .2s ease-in-out; 

$corp-navbar-height-xs: 4rem;
$corp-navbar-height-md: 6rem;
$corp-navbar-height-md-sticky: $corp-navbar-height-md * .75;
$corp-navbar-height-xl: 10rem;
$corp-navbar-height-xl-sticky: $corp-navbar-height-xl * .6; 

// contact bar
$corp-contact-bar-width: 3rem; // width black bar on right (desktop)
$corp-contact-bar-breakpoint: 768px; // right position
$corp-contact-bar-fixed-breakpoint: $corp-desktop-gutter-width-beakpoint;
$contact-sidebar-icon-size: 1.5rem; 
$contact-sidebar-mobile-padding-bottom: 1rem;

// contact icons
$contact-icon-size: 3rem;


// borders
$corp-dotted-border: 2px dotted $body-color; // dotted lines

@mixin corp-dotted-border-top{
	border-top: $corp-dotted-border;
	padding-top: $spacer;
}

@mixin corp-dotted-border-top-off-page{
	position: relative;
	padding-top: $spacer;

	&:before{
		@include corp-dotted-border-top;
		position: absolute;
		display: block;
		content: '';
		top: 0;
		left: 0;
		right: 0;
	}
}

// heading with border-bottom
@mixin corp-heading-border-bottom{
	padding-bottom: $spacer * .5;
	border-bottom: $corp-dotted-border;

	a{
		text-decoration: none;
	}
}

// lead styling article excerpts as p
@mixin corp-lead-styling-as-p{
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
}

// helper function to get max-widths .container
@function get-container-width($key: "sm") {
    @return map-get($container-max-widths, $key);
}

