// Navs

.nav, .navbar-nav{
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}

#nav-main{
  position: relative;
  background: $white;
  height: $corp-navbar-height-xs;
  transition: $corp-nav-main-sticky-transition;
  @media (min-width: $corp-contact-bar-breakpoint) and (max-width: $corp-expanded-navbar-breakpoint){ // when contact-sidebar is right on small screens
    margin-right: $corp-contact-bar-width;
    position: relative;
  }
  @include media-breakpoint-up(md){
    height: $corp-navbar-height-md; 
  }
  @include media-breakpoint-up(xl){
    height: $corp-navbar-height-xl; 
  }

  &.nav-main-sticky{
    background-color: rgba($gray-200, 1);
    @include media-breakpoint-up(md){
      height: $corp-navbar-height-md-sticky; 
    }
    @include media-breakpoint-up(xl){
      height: $corp-navbar-height-xl-sticky; 
    }

    .navbar-brand{
      @include media-breakpoint-up(md){
        transform: scale(75%) translate(-25%, -25%)
      }
    }
  }

  // logo positioning
  .container.corp-navbar-brand-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    height: 0;
    z-index: $zindex-offcanvas + 1;

    .navbar-brand{
      padding: 0;
      transition: $corp-nav-main-sticky-transition;

      img{
        position: absolute;
        max-width: none;
        transform: translateY(-50%);

        &.xs{
          height: 3.5rem;
          max-width: 3.5rem;
        }
        &.md{
          height: 5rem;
          max-width: 5rem;
          transition: $corp-nav-main-sticky-transition;
          @include media-breakpoint-up(xl){
            height: 6.5rem;
            max-width: 6.5rem;
          }
          @include media-breakpoint-up(xxxl){
            transform: translate(calc(-100% - #{$grid-gutter-width * .5}) , -50%); // outside container
          }
        }
      }
    }
  }
  
  // positioning navbar
  > .container-fluid{
    justify-content: flex-end;
    @media (min-width: $corp-expanded-navbar-breakpoint){
      // positioning language menu
      margin-right: $grid-gutter-width + $corp-contact-bar-width - ($navbar-nav-link-padding-x * .5);
      margin-left: $grid-gutter-width + $corp-contact-bar-width - ($navbar-nav-link-padding-x * .5);
    }
    
    .navbar-nav{
      display: block; // for language positioning
      @media (min-width: $corp-expanded-navbar-breakpoint){
        display: flex;
      }

      > li.lang-item{
          float: left;
          margin-top: $grid-gutter-width;
         @media (min-width: $corp-expanded-navbar-breakpoint){
          margin-top: 0;
          float: none;
          position: absolute;
        }

        > a{
          padding-right: $navbar-nav-link-padding-x * .5;
          @media (min-width: $corp-expanded-navbar-breakpoint){
            padding-left: $navbar-nav-link-padding-x * .5;
            padding-right: $navbar-nav-link-padding-x * .5;
          }
        }
        &.current_page_item, &.current-lang{
          > a{
            pointer-events: none;
            color: $nav-link-disabled-color;
          }
        }

        &:last-child{
          @media (min-width: $corp-expanded-navbar-breakpoint){
            right: $grid-gutter-width + $corp-contact-bar-width;
          }
        }
        &:nth-last-child(2){
          @media (min-width: $corp-expanded-navbar-breakpoint){
            right: $grid-gutter-width + $corp-contact-bar-width + $navbar-nav-link-padding-x + 1.7rem;
          }

          &:after{
            content: "/";
            display: inline-block;
            padding: $nav-link-padding-y 0;
            position: absolute;
            left: 100%;
            top:0;
            color: $nav-link-disabled-color;
          }
        }  
      }
    }
  }

  // mobile nav toggle button
  .corp-offcanvas-toggle{
    position: relative;
    z-index: $zindex-offcanvas + 1;
    border: none;
    background: transparent;
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    height: ($navbar-toggler-padding-y * 2) + 2rem; // padding + inner-size
    width: ($navbar-toggler-padding-x * 2) + 2rem; // padding + inner-size
    border-radius: $navbar-toggler-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform .3s ease-in-out;
    @media (min-width: $corp-expanded-navbar-breakpoint){
      display: none;
    }

    .bar{
      height: $border-width;
      background: $body-color;
      width: 100%;
      transition: all .3s ease-in-out;
    }
    &:hover, &:focus{
      .bar{
        background: $primary;
      }
    }
  }
  // open
  .offcanvas.show + .header-actions .corp-offcanvas-toggle{
    transform: scale(1.1);

    .bar:first-child{
      transform: rotate(45deg) translate(.35rem, .35rem);
    }
    .bar:last-child{
      transform: rotate(-45deg) translate(.35rem, -.35rem);
    }
  }

  .offcanvas{
    .offcanvas-body{
      @media (max-width: $corp-expanded-navbar-breakpoint - 1px){
        padding: ($grid-gutter-width);
        padding-top: 7rem; // no offcanvas-header 
      }
      @include media-breakpoint-down(sm){
        padding-top: 5rem; 
      }
    }
  }

  .dropdown-menu{
    opacity: 0;
    transition: opacity .2s ease;
    @media (min-width: $corp-expanded-navbar-breakpoint){
      margin-left: -($dropdown-item-padding-x - $navbar-nav-link-padding-x);
    }

    // mobile styling
    @media (max-width: $corp-expanded-navbar-breakpoint - 1px){
      background: transparent;
      padding-top: 0;

      .dropdown-item{
        color: $body-color;
        background: transparent;

        &:hover, &:focus{
          color: $primary;
          background: transparent;
        }

        &:active, &.active{
          color: $primary;
          background: transparent;
        }
      }
    }

    // animation 
    &.show{
      opacity: 1;
      // transition: opacity .35s ease !important; // doesn't work?
    }
  }
  // open if child page is active
  // close twice if you want to close dropdown (first click will open)
  .current-menu-parent > .dropdown-menu{
    @media (max-width: $corp-expanded-navbar-breakpoint - 1px){
      display: block;
      opacity: 1;
    }
  }
}
body.home #nav-main{
  @media (min-width: $corp-expanded-navbar-breakpoint){
    &.navbar-light{
      background: transparent;

      .navbar-nav .nav-link{
        color: $white;

        &:focus, &:hover{
          color: $primary;
        }
      }
    }
  }
  
  button[data-bs-target="#offcanvas-navbar"] .bar{
    background: $white;
  }
  .offcanvas.show + .header-actions .corp-offcanvas-toggle .bar{
    background: $body-color;
  }

  &.nav-main-sticky{
    background: $body-color;
    @media (min-width: $corp-expanded-navbar-breakpoint){
      background: $corp-transparent-background;
    }
  }
}


// Contact buttons 
.widget-contact-sidebar-wrapper{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $corp-contact-bar-width;
  background: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 24vh 0 1rem;
  z-index: $zindex-fixed;
  @media (max-width: ($corp-contact-bar-breakpoint - 1px)){
    top: auto;
    left: 0;
    height: auto;
    padding-bottom: 1rem;
    bottom: 0;
    width: auto;
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
  }

  ul.widget-contact-sidebar{
    list-style: none;
    padding: .5rem;
    margin:0;
    @media (max-width: ($corp-contact-bar-breakpoint - 1px)){
      display: flex;
    }

    > li{
      text-align: center;
      margin: 1rem 0;
      @media (max-width: ($corp-contact-bar-breakpoint - 1px)){
        margin: 0 1px;
      }

      a{
        color: $white;

        &:hover, &:focus{
          color: $primary;
        }

        svg{
          width: $contact-sidebar-icon-size;
          height: $contact-sidebar-icon-size;
        }

        span{
          display: none;
        }
      }
    }
  }
}

