// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

// Type

// bug headings smaller line-height
h1, .h1{
  line-height: 1.1;
}

// small headings not responsive
h3, .h3{
  font-size: $h3-font-size;
}
h4, .h4{
  font-size: $h4-font-size;
}
h5, .h5{
  font-size: $h5-font-size;
}


.lead{
  font-family: $font-family-sans-serif;
}


// Pages

// Home page
body.home{
  h1{ 
    @include media-breakpoint-up(xl){
      font-size: $font-size-base * 4.5;
    }
  }
  .lead{
    @include media-breakpoint-up(xl){
      font-size: $font-size-base * 1.9;
    }
  }
}

.corp-home-featured-wrapper,
.corp-full-width-grid-posts-wrapper{
  &.container-fluid{
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $corp-contact-bar-breakpoint){
      padding-left: $corp-contact-bar-width;
      padding-right: $corp-contact-bar-width;
    }
  }
}
.corp-home-teasers-wrapper{

  .container{
    position: relative;
    padding-top: $spacer;

    &:before{
      content: "";
      display: block;
      position: absolute;
      right: $grid-gutter-width * .5;
      top: 0;
      width: 100vw;
      border-top: $corp-dotted-border;
      border-top-color: $white;
      @media (min-width: $corp-desktop-gutter-width-beakpoint){
        right: $corp-grid-gutter-width-desktop * .5;
      }
    }
  }
}

.corp-footer-quote-wrapper{
  .container{
    position: relative;
    padding-top: $spacer;

    &:before{
      content: "";
      display: block;
      position: absolute;
      left: $grid-gutter-width * .5;
      top: 0;
      bottom: 0;
      width: 100vw;
      background: $corp-transparent-background;
      @media (min-width: $corp-desktop-gutter-width-beakpoint){
        left: $corp-grid-gutter-width-desktop * .5;
      }
    }
  }
}
body.home .corp-footer-quote-wrapper .container:before{
  background: rgba($black, 30%);
}

// Expertise pages

.wrapper-expertise-team{
  @include corp-dotted-border-top-off-page;

  &:before{
    left: -100vw;
  }
}


// Track records page

.corp-track-records-wrapper{
  position: relative;
  @include media-breakpoint-up(lg){
    margin-top: -($spacer);
  }

  // white border
  > .row{
    background: $white;
    padding-top: $grid-gutter-width;
    @media (min-width: $corp-desktop-gutter-width-beakpoint){
      padding: ($corp-grid-gutter-width-desktop * .5) ($corp-grid-gutter-width-desktop * .25) ($corp-grid-gutter-width-desktop * .25);
    }

    > *{
      @media (min-width: $corp-desktop-gutter-width-beakpoint){
        padding: 0 ($corp-grid-gutter-width-desktop * .25);
      }
    }
  }

  .corp-track-record{
    margin-bottom: $grid-gutter-width;
    @media (min-width: $corp-desktop-gutter-width-beakpoint){
      margin-bottom: $corp-grid-gutter-width-desktop * .5;
    }

    .corp-track-record-title{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: $headings-margin-bottom * .75;

      &.h5{
        @include media-breakpoint-up(sm){
          height: ($h5-font-size * $headings-line-height) * 4; // 4 lines
        }
      }
    }

    .corp-track-record-title-border{
      height: $headings-margin-bottom * .5;
      
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        width: 100vw;
        border-bottom: $corp-dotted-border;
        // @media (min-width: $corp-desktop-gutter-width-beakpoint){
        //   right: $corp-grid-gutter-width-desktop * .5;
        // }
      }
    }
  }
}

// Team pagina

.corp-team-wrapper{
  position: relative;
  padding-top: $spacer * 3;

  > .row{

  }

  .corp-team-item{
    margin-bottom: $spacer * 1.5;

    .team-portrait{
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        width: 100vw;
        margin-top: -1px;
        border-bottom: $corp-dotted-border;
        // @media (min-width: $corp-desktop-gutter-width-beakpoint){
        //   right: $corp-grid-gutter-width-desktop * .5;
        // }
      }
    }
    .team-title{
      margin-bottom: $headings-margin-bottom * .25;

      a{
        text-decoration: none;
      }
    }
    .team-subtitle{
      a{
        text-decoration: none;
        color: $body-color;
      }
    }

    ul.corp-contact-icons{
      display: flex;
      gap: $spacer * .25;
    }
  }
}

ul.corp-contact-icons{
  list-style: none;
  padding: 0;

  > li{
    > a{
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      width: $contact-icon-size;
      height: $contact-icon-size;
      border-radius: $contact-icon-size * .5;
      color: $white;
      text-align: center;

      svg{
        width: $contact-icon-size * .4;
        height: $contact-icon-size * .4;
      }
    }
  }
}












