// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

// Type

.lead{
  font-family: $font-family-sans-serif;
}


// Pages

// Home
body.home{
  h1{ 
    @include media-breakpoint-up(xl){
      font-size: $font-size-base * 4.5;
    }
  }
  .lead{
    @include media-breakpoint-up(xl){
      font-size: $font-size-base * 1.9;
    }
  }
}

.corp-home-featured-wrapper{
  &.container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
}
.corp-home-teasers-wrapper{

  .container{
    position: relative;
    padding-top: $spacer;

    &:before{
      content: "";
      display: block;
      position: absolute;
      right: $grid-gutter-width * .5;
      top: 0;
      width: 100vw;
      border-top: $corp-dotted-border;
      @media (min-width: $corp-desktop-gutter-width-beakpoint){
        right: $corp-grid-gutter-width-desktop * .5;
      }
    }
  }
}

.corp-footer-quote-wrapper{
  .container{
    position: relative;
    padding-top: $spacer;

    &:before{
      content: "";
      display: block;
      position: absolute;
      left: $grid-gutter-width * .5;
      top: 0;
      bottom: 0;
      width: 100vw;
      background: rgba($black, 5%);
      @media (min-width: $corp-desktop-gutter-width-beakpoint){
        left: $corp-grid-gutter-width-desktop * .5;
      }
    }
  }
}
body.home .corp-footer-quote-wrapper .container:before{
  background: rgba($black, 30%);
}


// Navs

.nav, .navbar-nav{
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}

#nav-main{
  position: relative;
  background: transparent;
  height: $corp-navbar-height-xs;
  transition: $corp-nav-main-sticky-transition;
  @include media-breakpoint-up(md){
    height: $corp-navbar-height-md; 
  }
  @include media-breakpoint-up(xl){
    height: $corp-navbar-height-xl; 
  }

  &.nav-main-sticky{
    background-color: rgba($gray-200, .9);
    @include media-breakpoint-up(md){
      height: $corp-navbar-height-md * .75; 
    }
    @include media-breakpoint-up(xl){
      height: $corp-navbar-height-xl * .6; 
    }

    .navbar-brand{
      @include media-breakpoint-up(md){
        transform: scale(75%) translate(-25%, -25%)
      }
    }
  }

  // logo positioning
  .container.corp-navbar-brand-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    height: 0;
    z-index: $zindex-offcanvas + 1;

    .navbar-brand{
      padding: 0;
      transition: $corp-nav-main-sticky-transition;

      img{
        position: absolute;
        max-width: none;
        transform: translateY(-50%);

        &.xs{
          height: 3.5rem;
          max-width: 3.5rem;
        }
        &.md{
          height: 5rem;
          max-width: 5rem;
          @include media-breakpoint-up(xl){
            height: 6.5rem;
            max-width: 6.5rem;
          }
        }
      }
    }
  }
  
  // positioning navbar
  > .container-fluid{
    justify-content: flex-end;
    @media (min-width: $corp-expanded-navbar-breakpoint){
      // positioning language menu
      margin-right: $grid-gutter-width + $corp-contact-bar-width - ($navbar-nav-link-padding-x * .5);
      margin-left: $grid-gutter-width + $corp-contact-bar-width - ($navbar-nav-link-padding-x * .5);
    }
    
    .navbar-nav{
      display: block; // for language positioning
      @media (min-width: $corp-expanded-navbar-breakpoint){
        display: flex;
      }

      > li.lang-item{
          float: left;
          margin-top: $grid-gutter-width;
         @media (min-width: $corp-expanded-navbar-breakpoint){
          margin-top: 0;
          float: none;
          position: absolute;
        }

        > a{
          padding-right: $navbar-nav-link-padding-x * .5;
          @media (min-width: $corp-expanded-navbar-breakpoint){
            padding-left: $navbar-nav-link-padding-x * .5;
            padding-right: $navbar-nav-link-padding-x * .5;
          }
        }
        &.current_page_item, &.current-lang{
          > a{
            pointer-events: none;
            color: $nav-link-disabled-color;
          }
        }

        &:last-child{
          @media (min-width: $corp-expanded-navbar-breakpoint){
            right: $grid-gutter-width + $corp-contact-bar-width;
          }
        }
        &:nth-last-child(2){
          @media (min-width: $corp-expanded-navbar-breakpoint){
            right: $grid-gutter-width + $corp-contact-bar-width + $navbar-nav-link-padding-x + 1.7rem;
          }

          &:after{
            content: "/";
            display: inline-block;
            padding: $nav-link-padding-y 0;
            position: absolute;
            left: 100%;
            top:0;
            color: $nav-link-disabled-color;
          }
        }  
      }
    }
  }

  button[data-bs-target="#offcanvas-navbar"]{
    position: relative;
    z-index: $zindex-offcanvas + 1;
  }

  .offcanvas{
    .offcanvas-body{
      @media (max-width: $corp-expanded-navbar-breakpoint - 1px){
        padding: ($grid-gutter-width);
        padding-top: 7rem; // no offcanvas-header 
      }
      @include media-breakpoint-down(sm){
        padding-top: 5rem; 
      }
    }
  }
}


// Footer

.bootscore-footer{
  padding-top: 6rem;
  padding-bottom: 2.5rem;
  display: flex;
  gap: $grid-gutter-width;
  flex-direction: column;
  @include media-breakpoint-up(xxl){
    flex-direction: row;
    justify-content: space-between;
  }
  

  .corp-bedrijfsgegevens{
    padding: ($nav-link-padding-y + $navbar-padding-y) 0;
    font-family: $font-family-sans-serif;

    span{
      white-space: nowrap;
    }
  }

  #footer-menu li:last-child a{
    padding-right: 0;
  }
}

// Grid 

// larger gutter-width desktop
@media (min-width: $corp-desktop-gutter-width-beakpoint){
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
    padding-left: $corp-grid-gutter-width-desktop * .5;
    padding-right: $corp-grid-gutter-width-desktop * .5;
  }
  .row{
    --corpbs-gutter-x: #{$corp-grid-gutter-width-desktop};
    margin-right: calc(-.5 * var(--corpbs-gutter-x));
    margin-left: calc(-.5 * var(--corpbs-gutter-x));

    > *{
      padding-right: calc(var(--corpbs-gutter-x) * .5);
      padding-left: calc(var(--corpbs-gutter-x) * .5);
      margin-top: var(--corpbs-gutter-y);
    }
  }
  .card-body{
    padding: $corp-grid-gutter-width-desktop * .5;
  }
}

.col-container,
.col-container-sm,
.col-container-md,
.col-container-lg,
.col-container-xl,
.col-container-xxl {
    width: 100% !important;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
}
@media (min-width: 576px) {
    .col-container,
    .col-container-sm {
  width:540px !important;

    }
}
@media (min-width: 768px) {
    .col-container,
    .col-container-sm,
    .col-container-md {
  width:720px !important;
    }
}
@media (min-width: 992px) {
    .col-container,
    .col-container-sm,
    .col-container-md,
    .col-container-lg {
  width:960px !important;
    }
}
@media (min-width: 1200px) {
    .col-container,
    .col-container-sm,
    .col-container-md,
    .col-container-lg,
    .col-container-xl {
  width:1140px !important;
    }
}

@media (min-width: 1400px) {
    .col-container,
    .col-container-sm,
    .col-container-md,
    .col-container-lg,
    .col-container-xl,
    .col-container-xxl {
  width:1320px !important;
    }
}

.container-right,
.container-right-sm,
.container-right-md,
.container-right-lg,
.container-right-xl,
.container-right-xxl {
    width: 100%;
    padding-right: 0;
    padding-left:0;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container-right,
    .container-right-sm {
  max-width:calc( 100vw - ( (100vw - 540px) / 2 ) );
	margin-left:calc( (100vw - 540px) / 2);
		padding-right:calc((100vw - 540px) / 2);
    }
}
@media (min-width: 768px) {
    .container-right,
    .container-right-sm,
    .container-right-md {
  max-width:calc( 100vw - ( (100vw - 720px) / 2 ) );
	margin-left:calc( (100vw - 720px) / 2);
		padding-right:calc((100vw - 720px) / 2);
    }
}
@media (min-width: 992px) {
    .container-right,
    .container-right-sm,
    .container-right-md,
    .container-right-lg {
  max-width:calc( 100vw - ( (100vw - 960px) / 2 ) );
	margin-left:calc( (100vw - 960px) / 2);
		padding-right:calc((100vw - 960px) / 2);
    }
}
@media (min-width: 1200px) {
    .container-right,
    .container-right-sm,
    .container-right-md,
    .container-right-lg,
    .container-right-xl {
  max-width:calc( 100vw - ( (100vw - 1140px) / 2 ) );
	margin-left:calc( (100vw - 1140px) / 2);
		padding-right:calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .container-right,
    .container-right-sm,
    .container-right-md,
    .container-right-lg,
    .container-right-xl,
    .container-right-xxl {
  max-width:calc( 100vw - ( (100vw - 1320px) / 2 ) );
	margin-left:calc( (100vw - 1320px) / 2);
		padding-right:calc((100vw - 1320px) / 2);
    }
}

.container-left,
.container-left-sm,
.container-left-md,
.container-left-lg,
.container-left-xl,
.container-left-xxl {
  width: 100%;
  padding-right: 0;
  padding-left:0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container-left,
  .container-left-sm {
max-width:calc( 100vw - ( (100vw - 540px) / 2 ) );
margin-right:calc( (100vw - 540px) / 2);
  padding-left:calc((100vw - 540px) / 2);
  }
}
@media (min-width: 768px) {
  .container-left,
  .container-left-sm,
  .container-left-md {
max-width:calc( 100vw - ( (100vw - 720px) / 2 ) );
margin-right:calc( (100vw - 720px) / 2);
  padding-left:calc((100vw - 720px) / 2);
  }
}
@media (min-width: 992px) {
  .container-left,
  .container-left-sm,
  .container-left-md,
  .container-left-lg {
max-width:calc( 100vw - ( (100vw - 960px) / 2 ) );
margin-right:calc( (100vw - 960px) / 2);
  padding-left:calc((100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .container-left,
  .container-left-sm,
  .container-left-md,
  .container-left-lg,
  .container-left-xl {
max-width:calc( 100vw - ( (100vw - 1140px) / 2 ) );
margin-right:calc( (100vw - 1140px) / 2);
  padding-left:calc((100vw - 1140px) / 2);
  }
}

@media (min-width: 1400px) {
  .container-left,
  .container-left-sm,
  .container-left-md,
  .container-left-lg,
  .container-left-xl,
  .container-left-xxl {
max-width:calc( 100vw - ( (100vw - 1320px) / 2 ) );
margin-right:calc( (100vw - 1320px) / 2);
  padding-left:calc((100vw - 1320px) / 2);
  }
}
#masthead{background-color:transparent;}
