// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// CORP: Extra variables 

// colors
$corp-transparent-background: rgba($gray-800, 20%);

// grid
$corp-desktop-gutter-width-beakpoint: 1200px; // larger paddings large screens = xl 
$corp-grid-gutter-width-desktop: 7.5rem;

// navbar
$corp-expanded-navbar-breakpoint: 992px; // = navbar-expand-lg
$corp-nav-main-sticky-transition: all .2s ease-in-out; 

$corp-navbar-height-xs: 4rem;
$corp-navbar-height-md: 6rem;
$corp-navbar-height-md-sticky: $corp-navbar-height-md * .75;
$corp-navbar-height-xl: 10rem;
$corp-navbar-height-xl-sticky: $corp-navbar-height-xl * .6; 



// elements
$corp-dotted-border: 2px dotted $white; // dotted lines

$corp-contact-bar-width: 3rem; // width black bar on right (desktop)